# DeFi Transactions

In this notebook, we will compile all of the transaction data in to one file.

In [1]:
import pandas as pd
import random
import names
import numpy as np

## Load Transaction Data

We start by loading the csv files for each transaction type.

In [2]:
df_borrows=pd.read_csv('borrows.csv')
df_borrows.head()

,amount,borrowRate,borrowRateMode,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,reservePriceUSD,amountETH,amountUSD
0,5.000000e+03,10.937930,Stable,0xf1fa3b44c153f7988ff5de730b138eec476a7533,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1639138209,0xf1fa3b44c153f7988ff5de730b138eec476a7533,borrow,0.000240,1.002934,1.200419,5.014671e+03
1,1.500000e+01,0.259066,Variable,0xc3b1c1c3dc334a283c64fe3fa2e9c69a0d022357,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,WETH,1633275840,0xcc9a0b7c43dc2a5f023bb9b738e45b0ef6b06e04,borrow,1.000000,3421.870819,15.000000,5.132806e+04
2,4.150163e+04,6.274937,Variable,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1621340435,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,borrow,0.000285,0.994804,11.840000,4.128600e+04
3,7.000000e+06,2.589628,Variable,0x51346d389ec7adf11c5b96695ef003dbb849af9a,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1622477822,0x51346d389ec7adf11c5b96695ef003dbb849af9a,borrow,0.000381,1.000000,2668.984254,7.000000e+06
4,1.500000e+04,8.802541,Variable,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1619775984,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,borrow,0.000361,1.004339,5.416500,1.506508e+04

In [3]:
df_repays=pd.read_csv('repays.csv')
df_repays.head()

,amount,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,reservePriceUSD,amountETH,amountUSD
0,6.134971e+04,0x847c944f5b9b38f0c5331580cea67a7f1ec17388,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1632140840,0x847c944f5b9b38f0c5331580cea67a7f1ec17388,repay,0.000331,1.004822,20.314823,6.164553e+04
1,1.801803e+06,0x0bbe643d5d9dd0498d0c9546f728504a4aab78f4,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1616417822,0x0bbe643d5d9dd0498d0c9546f728504a4aab78f4,repay,0.000557,0.995654,1003.009905,1.793972e+06
2,7.196676e+02,0x02e76c933b98c46fabd87fb30c14c7a623319bbe,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1611491659,0x02e76c933b98c46fabd87fb30c14c7a623319bbe,repay,0.000754,1.000000,0.542833,7.196676e+02
3,7.040368e+03,0xf2b7f6f9e11f65d7a244363dfd32cdb66100fd6a,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,SUSD,1617162703,0xf2b7f6f9e11f65d7a244363dfd32cdb66100fd6a,repay,0.000549,1.005494,3.863965,7.079051e+03
4,7.400043e+03,0xc67d4c582cbc48eb3701b9ab9a0ccdbc23e5aebc,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1609463063,0xc67d4c582cbc48eb3701b9ab9a0ccdbc23e5aebc,repay,0.001360,1.003491,10.064812,7.425878e+03

In [4]:
df_deposits=pd.read_csv('deposits.csv')
df_deposits.head()

,amount,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,reservePriceUSD,amountETH,amountUSD
0,0.005386,0xf26c81b576eaeeb532634a0ec4256e3bf64db139,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,AAVE,1626855185,0x2801a71605b5e25816235c7f3cb779f4c9dd60ee,deposit,0.129093,242.104921,0.000695,1.304095e+00
1,0.500000,0xd1da235c93496317a9dd2f5d22b9fd622a0af1c4,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,WETH,1627601050,0xcc9a0b7c43dc2a5f023bb9b738e45b0ef6b06e04,deposit,1.000000,2390.167302,0.500000,1.195084e+03
2,460.000000,0x346f1d297c98c28574742b067b67a80cda2dc0d9,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,WETH,1628959994,0xcc9a0b7c43dc2a5f023bb9b738e45b0ef6b06e04,deposit,1.000000,3270.723616,460.000000,1.504533e+06
3,7500.000000,0x762b4a03d4d8ea0f81d2a0254770c9df18361051,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1618692791,0x762b4a03d4d8ea0f81d2a0254770c9df18361051,deposit,0.000422,1.000616,3.166273,7.504617e+03
4,27991.243002,0x6082fb69b9886b4cc55d23f87510f7c0841dbc3f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1610390681,0x6082fb69b9886b4cc55d23f87510f7c0841dbc3f,deposit,0.000990,1.000000,27.707774,2.799124e+04

In [5]:
df_redeems=pd.read_csv('redeems.csv')
df_redeems.head()

,amount,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,reservePriceUSD,amountETH,amountUSD
0,2.100000e+06,0xef5c8dfb7abaa3acd759d77fb156cea315eb69b8,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1619717013,0xef5c8dfb7abaa3acd759d77fb156cea315eb69b8,redeem,0.000365,0.997056,767.258215,2.093817e+06
1,6.703367e+01,0xefeb6afa02d5b368005176c9d8d849aa58a98be2,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,CRV,1626670785,0xefeb6afa02d5b368005176c9d8d849aa58a98be2,redeem,0.000748,1.417037,0.050135,9.498922e+01
2,1.999998e+04,0x63a3f444e97d14e671e7ee323c4234c8095e3516,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1624224687,0x63a3f444e97d14e671e7ee323c4234c8095e3516,redeem,0.000444,1.003846,8.878793,2.007690e+04
3,2.002598e+04,0x04956efd10b49c1a7dad15e444092faeb521bddc,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1623371599,0x04956efd10b49c1a7dad15e444092faeb521bddc,redeem,0.000407,1.000057,8.145166,2.002713e+04
4,9.525850e+05,0xfb9e3b8dd7201258ab17e5173efe935c0be611ec,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1628694237,0xfb9e3b8dd7201258ab17e5173efe935c0be611ec,redeem,0.000308,0.999415,293.795897,9.520282e+05

In [6]:
df_liquidations=pd.read_csv('liquidations.csv')
df_liquidations.head()

,liquidator,pool,user,collateralReserve,collateralAmount,principalReserve,principalAmount,timestamp,type,reservePriceETHPrincipal,reservePriceUSDPrincipal,reservePriceETHCollateral,reservePriceUSDCollateral,amountETHPincipal,amountETHCollateral,amountUSDPrincipal,amountUSDCollateral,principalCollateralStability,principalStability,collateralStability
0,0xd911560979b78821d7b045c79e36e9cbfc2f6c6f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0xd6e59c17601f91151acc0c79620358154a150fb5,WETH,1.046087,USDC,2598.419589,1643887767,liquidation,0.000383,0.998791,1.000000,2604.986251,0.996273,1.046087,2595.278079,2725.041982,Stable-Unstable,True,False
1,0x0c9d28f3d6a076484a357ad75a6a3b4df71c3f87,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0x3424b949dbc5d2d2654cb6fc622c4d723b2e8fb4,WETH,0.330855,GUSD,639.170000,1626124715,liquidation,0.000354,0.718067,1.000000,2026.835299,0.226445,0.330855,458.966721,670.588984,Stable-Unstable,True,False
2,0xcbd75d63f98c5ff5d7157edf06abef8a8325c24d,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0x0cb961e87f6b7a7ce4e92d1ba653e2a2b5b1d9b9,UNI,2275.437027,PAX,47539.254341,1631027035,liquidation,0.000289,1.004840,0.006649,23.092821,13.754970,15.130467,47769.328148,52546.260963,Stable-Unstable,True,False
3,0xbf3f6477dbd514ef85b7d3ec6ac2205fd0962039,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0x41a792401694fc00467207cfeb9b5f09aa2b834a,ENJ,33825.732222,USDT,55144.569141,1619145033,liquidation,0.000457,1.000000,0.000457,0.557637,25.190039,15.451594,55144.569141,18862.488153,Stable-Unstable,True,False
4,0x3909336de913344701c6f096502d26208210b39f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,0x668e7d17b6831cca4c42db8c9c6d72866e60434a,WETH,4.459840,DAI,9991.021173,1642846777,liquidation,0.000425,0.991393,1.000000,2331.985258,4.247467,4.459840,9905.030664,10400.282197,Stable-Unstable,True,False

In [7]:
df_swaps=pd.read_csv('swaps.csv')
df_swaps.head()

,borrowRateModeFrom,borrowRateModeTo,pool,reserve,stableBorrowRate,timestamp,user,variableBorrowRate,type
0,Variable,Stable,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,5.666667,1606925645,0xdad4c11e8cc6a5c37808d3b31b3b284809f702d1,3.333335,swap
1,Variable,Stable,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,REN,8.889100,1606951364,0x39d637737cc76c5849a52c7d3b872a1eb22aa71c,6.222370,swap
2,Stable,Variable,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,UNI,3.030825,1607000640,0x9ccf93089cb14f94baeb8822f8ceffd91bd71649,1.767982,swap
3,Stable,Variable,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,ZRX,61.502194,1607003188,0x0a80c3c540eef99811f4579fa7b1a0617294e06f,55.502194,swap
4,Variable,Stable,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,ZRX,61.502774,1607003431,0x0a80c3c540eef99811f4579fa7b1a0617294e06f,55.502774,swap

In [8]:
df_collaterals = pd.read_csv('collaterals.csv')
df_collaterals.head()

,fromState,pool,reserve,timestamp,toState,user,type
0,False,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1618692791,True,0x762b4a03d4d8ea0f81d2a0254770c9df18361051,collateral
1,False,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1610390681,True,0x6082fb69b9886b4cc55d23f87510f7c0841dbc3f,collateral
2,True,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,CRV,1626670785,False,0xefeb6afa02d5b368005176c9d8d849aa58a98be2,collateral
3,True,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1624224687,False,0x63a3f444e97d14e671e7ee323c4234c8095e3516,collateral
4,False,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,CRV,1622964404,True,0x716540b4ab709fc49aac4d729afe44a9d4e9f221,collateral

## Compile Transaction Data

Next, we merge them all together in to one big DataFrame.

In [9]:
#merge dataframes
df = df_borrows.append(df_repays).append(df_liquidations).append(df_deposits).append(df_redeems).append(df_swaps).append(df_collaterals)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904403 entries, 0 to 233199
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   amount                        657178 non-null  float64
 1   borrowRate                    131266 non-null  float64
 2   borrowRateMode                131266 non-null  object
 3   onBehalfOf                    657178 non-null  object
 4   pool                          904403 non-null  object
 5   reserve                       893356 non-null  object
 6   timestamp                     904403 non-null  int64
 7   user                          904403 non-null  object
 8   type                          904403 non-null  object
 9   reservePriceETH               657178 non-null  float64
 10  reservePriceUSD               657178 non-null  float64
 11  amountETH                     657178 non-null  float64
 12  amountUSD                     657178 non-null  float64
 13  liquidator                    11047 non-null   object
 14  collateralReserve             11047 non-null   object
 15  collateralAmount              11047 non-null   float64
 16  principalReserve              11047 non-null   object
 17  principalAmount               11047 non-null   float64
 18  reservePriceETHPrincipal      11047 non-null   float64
 19  reservePriceUSDPrincipal      11047 non-null   float64
 20  reservePriceETHCollateral     11047 non-null   float64
 21  reservePriceUSDCollateral     11047 non-null   float64
 22  amountETHPincipal             11047 non-null   float64
 23  amountETHCollateral           11047 non-null   float64
 24  amountUSDPrincipal            11047 non-null   float64
 25  amountUSDCollateral           11047 non-null   float64
 26  principalCollateralStability  11047 non-null   object
 27  principalStability            11047 non-null   object
 28  collateralStability           11047 non-null   object
 29  borrowRateModeFrom            2978 non-null    object
 30  borrowRateModeTo              2978 non-null    object
 31  stableBorrowRate              2978 non-null    float64
 32  variableBorrowRate            2978 non-null    float64
 33  fromState                     233200 non-null  object
 34  toState                       233200 non-null  object
dtypes: float64(18), int64(1), object(16)
memory usage: 248.4+ MB

In [10]:
df['datetime']= pd.to_datetime(df['timestamp'],unit='s')

In [11]:
#make list of maximum date in each transaction type
maxs = [df_deposits['timestamp'].max(),df_redeems['timestamp'].max(),df_borrows['timestamp'].max(),
        df_repays['timestamp'].max(),df_liquidations['timestamp'].max(),df_swaps['timestamp'].max(),
        df_collaterals['timestamp'].max()]
#get smallest maximum date for the transactions types
max_date = min(maxs)
#only get transactions up until this date
df = df[df['timestamp']<=max_date]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903989 entries, 0 to 233199
Data columns (total 36 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   amount                        656882 non-null  float64
 1   borrowRate                    131207 non-null  float64
 2   borrowRateMode                131207 non-null  object
 3   onBehalfOf                    656882 non-null  object
 4   pool                          903989 non-null  object
 5   reserve                       892942 non-null  object
 6   timestamp                     903989 non-null  int64
 7   user                          903989 non-null  object
 8   type                          903989 non-null  object
 9   reservePriceETH               656882 non-null  float64
 10  reservePriceUSD               656882 non-null  float64
 11  amountETH                     656882 non-null  float64
 12  amountUSD                     656882 non-null  float64
 13  liquidator                    11047 non-null   object
 14  collateralReserve             11047 non-null   object
 15  collateralAmount              11047 non-null   float64
 16  principalReserve              11047 non-null   object
 17  principalAmount               11047 non-null   float64
 18  reservePriceETHPrincipal      11047 non-null   float64
 19  reservePriceUSDPrincipal      11047 non-null   float64
 20  reservePriceETHCollateral     11047 non-null   float64
 21  reservePriceUSDCollateral     11047 non-null   float64
 22  amountETHPincipal             11047 non-null   float64
 23  amountETHCollateral           11047 non-null   float64
 24  amountUSDPrincipal            11047 non-null   float64
 25  amountUSDCollateral           11047 non-null   float64
 26  principalCollateralStability  11047 non-null   object
 27  principalStability            11047 non-null   object
 28  collateralStability           11047 non-null   object
 29  borrowRateModeFrom            2977 non-null    object
 30  borrowRateModeTo              2977 non-null    object
 31  stableBorrowRate              2977 non-null    float64
 32  variableBorrowRate            2977 non-null    float64
 33  fromState                     233083 non-null  object
 34  toState                       233083 non-null  object
 35  datetime                      903989 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(1), object(16)
memory usage: 255.2+ MB

## Feature Engineering

### Protocol Contracts

Some additional features will be added to the data. The first will be a field called 'protocolContract'. This is a true or false value which represents the transaction was made by an Aave protocol contract. On the Aave website, several user id's are listed for accounts that belong to the protocol. We use this list to create this feature.

In [12]:
def isSmart(row):
    #list of protocol contracts listed on Aave website
    smarts=['0xB53C1a33016B2DC2fF3653530bfF1848a515c8c5',
              '0x52D306e36E3B6B02c153d0266ff0f85d18BCD413',
              '0x7d2768dE32b0b80b7a3454c06BdAc94A69DDc7A9',
              '0xbd4765210d4167CE2A5b87280D9E8Ee316D5EC7C',
              '0x311Bb771e4F8952E6Da169b425E7e92d6Ac45756',
              '0x8A32f49FFbA88aba6EFF96F45D8BD1D4b3f35c7D',
              '0xA50ba011c48153De246E5192C8f9258A2ba79Ca9',
              '0xB9062896ec3A615a4e4444DF183F0531a77218AE',
              '0xB9062896ec3A615a4e4444DF183F0531a77218AE',
              '0x057835Ad21a177dbdd3090bB1CAE03EaCF78Fc6d',
              '0xcc9a0B7c43DC2a5F023Bb9b738E45B0Ef6B06E04',
              '0x464C71f6c2F760DdA6093dCB91C24c39e5d6e18c',
              '0xd784927Ff2f95ba542BfC824c8a8a98F3495f6b5',
               '0xAcc030EF66f9dFEAE9CbB0cd1B25654b82cFA8d5',
               '0x7937d4799803fbbe595ed57278bc4ca21f3bffcb',
               '0xbd4765210d4167ce2a5b87280d9e8ee316d5ec7c',
               '0x23a875ede3f1030138701683e42e9b16a7f87768',
               '0x8a32f49ffba88aba6eff96f45d8bd1d4b3f35c7d',
               '0xa50ba011c48153de246e5192c8f9258a2ba79ca9',
               '0xc443AD9DDE3cecfB9dfC5736578f447aFE3590ba',
               '0xcc9a0B7c43DC2a5F023Bb9b738E45B0Ef6B06E04',
               '0x464C71f6c2F760DdA6093dCB91C24c39e5d6e18c']
    #change to lower case letters for each id
    for i in range(len(smarts)):
        smarts[i]=smarts[i].lower()
     
    #check if transaction was made by protocol contract
    if row['user'] in smarts:
        return True
    else:
        return False
        
df['protocolContract'] = df.apply(lambda x: isSmart(x),axis=1)
df['protocolContract'].describe()

count     903989
unique         2
top        False
freq      825432
Name: protocolContract, dtype: object

### Personal Transactions

We add another feature that represents of the user conducted the transaction on their own behalf. This means that the user value is the same as the onBehalfOf value.

In [13]:
def personalTransaction(row):
    return row['user']==row['onBehalfOf']

df['personalTransaction'] = df.apply(lambda x: personalTransaction(x),axis=1)
df['personalTransaction'].value_counts()

True     516252
False    387737
Name: personalTransaction, dtype: int64

### Stable Coins

One important characteristic about reserves in Aave is whether or not they are stable coins. A stable coin is a token which prices is pegged to some sort of currency. We will create a feature that represents whether the reserve used in the transaction is a stable coin pegged to the United States dollar.

In [14]:
def isStable(row):
    #list of stable coins
    stables = ['TUSD','RAI','GUSD','BUSD','SUSD','DAI','FRAX','PAX','FEI','USDC','AMPL','USDT','AmmDAI','AmmUSDC','AmmUSDT']
     
    #check if transaction was made by protocol contract
    if row['reserve'] in stables or row['principalReserve'] in stables:
        return True
    else:
        return False
        
df['stableCoin'] = df.apply(lambda x: isStable(x),axis=1)
df['stableCoin'].describe()

count     903989
unique         2
top        False
freq      459709
Name: stableCoin, dtype: object

### User Alias

Next, we create aliases for the different users in the data. We use a random name generator to give each unique user a name.

In [15]:
#get list of unique users
all_users = set(df['user']).union(set(df['onBehalfOf']))
all_users.remove(np.nan)

random.seed(0)
used_names = set()
user_map = dict()
i=0
#generate name for each user
for user in all_users:
    name = names.get_full_name()
    #make sure generated name is unique
    while name in used_names:
        name = names.get_full_name()
    #keep track which id belongs to which name
    user_map[user]= name
    #keep track of names that have been used
    used_names.add(name)
    
    #print progress
    i+=1
    if i%1000==0:
        print(str(i)+'/'+str(len(all_users)))
    
df['user_alias'] = df['user'].map(user_map)
df['onBehalfOf_alias'] = df['onBehalfOf'].map(user_map)
df.head()

1000/62031
2000/62031
3000/62031
4000/62031
5000/62031
6000/62031
7000/62031
8000/62031
9000/62031
10000/62031
11000/62031
12000/62031
13000/62031
14000/62031
15000/62031
16000/62031
17000/62031
18000/62031
19000/62031
20000/62031
21000/62031
22000/62031
23000/62031
24000/62031
25000/62031
26000/62031
27000/62031
28000/62031
29000/62031
30000/62031
31000/62031
32000/62031
33000/62031
34000/62031
35000/62031
36000/62031
37000/62031
38000/62031
39000/62031
40000/62031
41000/62031
42000/62031
43000/62031
44000/62031
45000/62031
46000/62031
47000/62031
48000/62031
49000/62031
50000/62031
51000/62031
52000/62031
53000/62031
54000/62031
55000/62031
56000/62031
57000/62031
58000/62031
59000/62031
60000/62031
61000/62031
62000/62031

,amount,borrowRate,borrowRateMode,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,...,stableBorrowRate,variableBorrowRate,fromState,toState,datetime,protocolContract,personalTransaction,stableCoin,user_alias,onBehalfOf_alias
0,5.000000e+03,10.937930,Stable,0xf1fa3b44c153f7988ff5de730b138eec476a7533,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1639138209,0xf1fa3b44c153f7988ff5de730b138eec476a7533,borrow,0.000240,...,NaN,NaN,NaN,NaN,2021-12-10 12:10:09,False,True,True,John Graham,John Graham
1,1.500000e+01,0.259066,Variable,0xc3b1c1c3dc334a283c64fe3fa2e9c69a0d022357,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,WETH,1633275840,0xcc9a0b7c43dc2a5f023bb9b738e45b0ef6b06e04,borrow,1.000000,...,NaN,NaN,NaN,NaN,2021-10-03 15:44:00,True,False,False,Lindsey Wilson,Cynthia Goldberger
2,4.150163e+04,6.274937,Variable,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1621340435,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,borrow,0.000285,...,NaN,NaN,NaN,NaN,2021-05-18 12:20:35,False,True,True,Gary Goldberg,Gary Goldberg
3,7.000000e+06,2.589628,Variable,0x51346d389ec7adf11c5b96695ef003dbb849af9a,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1622477822,0x51346d389ec7adf11c5b96695ef003dbb849af9a,borrow,0.000381,...,NaN,NaN,NaN,NaN,2021-05-31 16:17:02,False,True,True,Mary Smathers,Mary Smathers
4,1.500000e+04,8.802541,Variable,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1619775984,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,borrow,0.000361,...,NaN,NaN,NaN,NaN,2021-04-30 09:46:24,False,True,True,Melaine Vandercook,Melaine Vandercook

### Liquidator Alias

We also create an alias for liquidators.

In [16]:
#get list of unique liquidators
liquidators = set(df['liquidator'])
liquidators.remove(np.nan)

i=0
liquidator_map = dict()
#generate name for each liquidator
for liquidator in liquidators:
    name = names.get_full_name()
    #make sure name is unique
    while name in used_names:
        name = names.get_full_name()
    
    #keep track of which id belongs to which name
    liquidator_map[liquidator]= name
    #keep track of names that have been used
    used_names.add(name)
    
    #print progress
    i+=1
    if i%1000==0:
        print(str(i)+'/'+str(len(liquidators)))
    
df['liquidator_alias'] = df['liquidator'].map(liquidator_map)
df.head()

,amount,borrowRate,borrowRateMode,onBehalfOf,pool,reserve,timestamp,user,type,reservePriceETH,...,variableBorrowRate,fromState,toState,datetime,protocolContract,personalTransaction,stableCoin,user_alias,onBehalfOf_alias,liquidator_alias
0,5.000000e+03,10.937930,Stable,0xf1fa3b44c153f7988ff5de730b138eec476a7533,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1639138209,0xf1fa3b44c153f7988ff5de730b138eec476a7533,borrow,0.000240,...,NaN,NaN,NaN,2021-12-10 12:10:09,False,True,True,John Graham,John Graham,NaN
1,1.500000e+01,0.259066,Variable,0xc3b1c1c3dc334a283c64fe3fa2e9c69a0d022357,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,WETH,1633275840,0xcc9a0b7c43dc2a5f023bb9b738e45b0ef6b06e04,borrow,1.000000,...,NaN,NaN,NaN,2021-10-03 15:44:00,True,False,False,Lindsey Wilson,Cynthia Goldberger,NaN
2,4.150163e+04,6.274937,Variable,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,DAI,1621340435,0x94ee9c600870c4199a1af8496eeb3087f2d1c32f,borrow,0.000285,...,NaN,NaN,NaN,2021-05-18 12:20:35,False,True,True,Gary Goldberg,Gary Goldberg,NaN
3,7.000000e+06,2.589628,Variable,0x51346d389ec7adf11c5b96695ef003dbb849af9a,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDT,1622477822,0x51346d389ec7adf11c5b96695ef003dbb849af9a,borrow,0.000381,...,NaN,NaN,NaN,2021-05-31 16:17:02,False,True,True,Mary Smathers,Mary Smathers,NaN
4,1.500000e+04,8.802541,Variable,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,0xb53c1a33016b2dc2ff3653530bff1848a515c8c5,USDC,1619775984,0x416d7f3823bc7d8dbab00056ede0325e52f0a5c2,borrow,0.000361,...,NaN,NaN,NaN,2021-04-30 09:46:24,False,True,True,Melaine Vandercook,Melaine Vandercook,NaN

### Pool Mapping

To conclude our transformations to the data, we map the pool id's to their actual name.

In [17]:
pool_map = {'0xb53c1a33016b2dc2ff3653530bff1848a515c8c5':'Main','0xacc030ef66f9dfeae9cbb0cd1b25654b82cfa8d5':'Amm'}
df['pool'] = df['pool'].map(pool_map)

Finally, we save this DataFrame as a csv file.

In [18]:
df.to_csv("transactions.csv",index=False)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903989 entries, 0 to 233199
Data columns (total 42 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   amount                        656882 non-null  float64
 1   borrowRate                    131207 non-null  float64
 2   borrowRateMode                131207 non-null  object
 3   onBehalfOf                    656882 non-null  object
 4   pool                          903989 non-null  object
 5   reserve                       892942 non-null  object
 6   timestamp                     903989 non-null  int64
 7   user                          903989 non-null  object
 8   type                          903989 non-null  object
 9   reservePriceETH               656882 non-null  float64
 10  reservePriceUSD               656882 non-null  float64
 11  amountETH                     656882 non-null  float64
 12  amountUSD                     656882 non-null  float64
 13  liquidator                    11047 non-null   object
 14  collateralReserve             11047 non-null   object
 15  collateralAmount              11047 non-null   float64
 16  principalReserve              11047 non-null   object
 17  principalAmount               11047 non-null   float64
 18  reservePriceETHPrincipal      11047 non-null   float64
 19  reservePriceUSDPrincipal      11047 non-null   float64
 20  reservePriceETHCollateral     11047 non-null   float64
 21  reservePriceUSDCollateral     11047 non-null   float64
 22  amountETHPincipal             11047 non-null   float64
 23  amountETHCollateral           11047 non-null   float64
 24  amountUSDPrincipal            11047 non-null   float64
 25  amountUSDCollateral           11047 non-null   float64
 26  principalCollateralStability  11047 non-null   object
 27  principalStability            11047 non-null   object
 28  collateralStability           11047 non-null   object
 29  borrowRateModeFrom            2977 non-null    object
 30  borrowRateModeTo              2977 non-null    object
 31  stableBorrowRate              2977 non-null    float64
 32  variableBorrowRate            2977 non-null    float64
 33  fromState                     233083 non-null  object
 34  toState                       233083 non-null  object
 35  datetime                      903989 non-null  datetime64[ns]
 36  protocolContract              903989 non-null  bool
 37  personalTransaction           903989 non-null  bool
 38  stableCoin                    903989 non-null  bool
 39  user_alias                    903989 non-null  object
 40  onBehalfOf_alias              656882 non-null  object
 41  liquidator_alias              11047 non-null   object
dtypes: bool(3), datetime64[ns](1), float64(18), int64(1), object(19)
memory usage: 278.5+ MB